# Node.js
node_modules/

# Logs
logs
*.log

# Debug output
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Built application files
build/
dist/

# Dependency directories
/jspm_packages/
/bower_components/
